<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/users" method="POST">
    <label for="name">Enter your name</label>
    <input id="name" name="name" type="text">
    <button type="submit">Send!</button>
  </form>
</body>
</html>